<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>velocity</title>
</head>

<body>

<div class="top1">
    #parse("top.vm")
</div>

<div class="enter">
    #foreach($financeNews in $jsonArray)
        <li>
            <a target="_new" href="/nc/d/$financeNews.DM">
                <p style="width: 260px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;">
                    $financeNews.MC
                </p>
            </a>
        </li>
    #end
</div>

<div class="fot1">
    #parse("foot.vm")
</div>

</body>
</html>
